.jumbotron{
    width:1400px;

}
.col-sm-10{
    margin-left: 250px;
    margin-top: -150px;
}
h1{
    margin-left: 300px;
    font-style: italic;
    font-family: "OCR A Extended";
 }
h3{
    margin-top: 25px;
    margin-left: 400px;
    color: red;
    text-transform: capitalize;
    font-style: oblique;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
#back{
    background-image: url("bghome.jpg");
    width:1432px;
    height:1000px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 60px;
}
body{
    overflow-x: visible;
}
#st{
    margin-left: 50%;
    margin-top: 400px;
    width: 200px;
}
#tr{
    margin-top: -300px;
    margin-left: 50%;
    width: 200px;
}
#ur{
    margin-top: 50px;
    margin-left: 50%;
    width: 200px;
}
.btn{
    padding: 10px 10px ;
    border-color: black;
}